* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.grid-container-containers {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
}

.grid-container-containers > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid #2196f3;
}

.grid-container-container1 {
  grid-area: 1 / 1 / span 6 / span 1;
  height: 100vh;
  background-color: #2196f3;
}

.grid-container-container2 {
  grid-area: 1 / 2 / span 1 / span 3;
}

.grid-container-container3 {
  grid-area: 2 / 2 / span 5 / span 2;
}

.grid-container-container4 {
  grid-area: 2 / 4 / span 2 / span 1;
}

.grid-container-container5 {
  grid-area: 4 / 4 / span 3 / span 1;
}
